

<%- include('header'); -%>
    <div class="container">
        <div class="box" id="heading">
            <h1>
                <%= kindOfDay %>
            </h1>
        </div>
    
        <div class="box">
            <form action="/" method="post">
                <input type="text" name="todo" placeholder="Enter the ToDo List" autocomplete="off">
                <button type="submit" name="list" value=<%=kindOfDay%> >+</button>
            </form>
            <div class="item">
                <% for(let i=0; i < newItem.length; i++){ %>
                    <div class="items">
                        <input type="checkbox">
                        <p>
                            <%= newItem[i] %>
                        </p>
                    </div>
                    <% } %>
            </div>
        </div>
        <footer>
            Copyright since 2021-22
        </footer>
    </div>
    
    
<%- include('footer'); -%>

